.container {
    overflow: hidden;
}

/*cuerpo*/
#mensajes h5{
    color: rgb(0, 153, 153);
    font-weight: bolder;
}
#mensajes p{
    color:  rgb(0, 153, 153);
    font-weight: bolder;
}

#cajaproducto{
    text-decoration: none;
}

#imagendelproducto{
    border: 1px solid black;
    height: 70%;
    width: 70%;
}

#nombreProductoIndex{
    color: orange;
    -webkit-text-stroke: 1px black;
}

#nombreProductoIndex:hover{
    color: red;
    transition: color 2s;
}

@media (min-width: 768px){
    #imagecarousel1{
        position: relative;
        left: 3%;
    }

    section .cajadeproducto{
        display: inline-block;
    }
    
#imagendelproducto{
    border: 1px solid black;
    height: 60%;
    width: 60%;
}
}

@media (min-width: 992px){
    #imagecarousel1{
        position: relative;
        left: 14%;
    }
    
#imagendelproducto{
    border: 1px solid black;
    height: 40%;
    width: 40%;
    }
}

@media(min-width: 1023px){
    #imagendelproducto{
        border: 1px solid black;
        height: 80%;
        width: 80%;  
    }
}

@media (min-width: 1440px){
    #imagecarousel1{
        position: relative;
        left: 55%;
    }
    #imagendelproducto{
        border: 1px solid black;
        height: 50%;
        width: 50%;
    }
}