.container {
    overflow: hidden;
}

#carouselMarcas img{
    max-width: 95%;
}

#marcas{
    display: inline;
    zoom: 1;
}

#patrocinadores{
    font-size: 42px;
}

#figureProducto{
    padding: 20px;
    border-radius: 5px;
}

#camioncito{
    z-index: 1;
    position: absolute;
    right: 30%;
    top: 50%;
    color: rgb(0, 255, 0);
    font-size: 20px;
}

/*cuerpo*/
#mensajes h5{
    color: rgb(0, 153, 153);
    font-weight: bolder;
}
#mensajes p{
    color:  rgb(0, 153, 153);
    font-weight: bolder;
}

#cajaproducto{
    text-decoration: none;
}

#imagendelproducto{
    border: 1px solid black;
    height: 150px;
    width: 60%;
}

#nombreProductoIndex:hover{
    color: red;
    transition: color 2s;
}

@media (min-width: 768px){
    
    #patrocinadores{
        font-size: 50px;
    }

    #camioncito{
        position: absolute;
        right: 30%;
        top: 58%;
        color: rgb(0, 255, 0);
        font-size: 20px;
    }

    #imagecarousel1{
        position: relative;
        left: 3%;
    }

    section .cajadeproducto{
        display: inline-block;
    }
    
#imagendelproducto{
    border: 1px solid black;
    height: 200px;
    width: 60%;
}
}

@media (min-width: 992px){
    #camioncito{
        position: absolute;
        right: 19%;
        top: 58%;
        color: rgb(0, 255, 0);
        font-size: 25px;
    }
    #imagecarousel1{
        position: relative;
        left: 14%;
    }
    
#imagendelproducto{
    border: 1px solid black;
    height: 200px;
    width: 85%;
    }
}

@media(min-width: 1023px){
    #imagendelproducto{
        border: 1px solid black;
        height: 200px;
        width: 97%;  
    }

    #camioncito{
        position: absolute;
        right: 20%;
        top: 55%;
        color: rgb(0, 255, 0);
        font-size: 20px;
    }
}

@media (min-width: 1439px){
    #camioncito{
        position: absolute;
        right: 33%;
        top: 52%;
        color: rgb(0, 255, 0);
        font-size: 15px;
    }

    #imagecarousel1{
        position: relative;
        left: 55%;
    }
    #imagendelproducto{
        border: 1px solid black;
        height: 150px;
        width: 50%;
    }
}