body .cuerpo{
    background-color: rgba(136, 216, 240, 0.507);
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#registrarse {
    text-decoration: none;
    color: orange
}

#registrarse:hover{
    color: red;
    transition: color 5s;
}