.cajaContactenos{
    background-color: rgba(0, 29, 29, 0.192);
    border-radius: 5px;
    box-shadow: 0 0 15px 25px rgba(255, 255, 255, 0.219);
    font-size: small;
}

#nosotrosCuerpo{
    border-radius: 10px;
    box-shadow: 0 0 15px 1px white;
    background-color:  rgba(136, 216, 240, 0.507);
}

#Cajamap {
    height: 400px;
    width: 100%;
    position: relative;
    right: 10%;
}

#map{
    border-radius: 15px;
    height: 300px;
}

#nosotrosTitulo{
    font-size: 20px;
    position: relative;
    bottom: 2%;
    border-bottom: 1px solid white;
}

#sobreNosotros{
    text-align: left;
    font-size: small;
    text-shadow: 25 5 15px 25px rgba(0, 0, 0, 0.479);
}

#contactenos{
    border-bottom: 1px solid white;
}


@media (min-width: 768px){
    #Cajamap{
        height: 200px;
        width: 100%;
        position: initial;
    }

    #nosotrosTitulo {
        position: relative;
        bottom: 12px;
    }

    #map {
        height: 250px;
        width: 300px;
    }

    #sobreNosotros{
        position: relative;
        top: 32px;
        font-size: small;
    }

    .cajaContactenos{
        font-size: medium;
        position: relative;
        left: 15%;
        top: 15px;
        box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.219);
    }

    #contactenos{
        font-size: medium;
    }
}

@media (min-width: 992px){
    #Cajamap{
        height: 400px;
        width: 100%;
    }

    #map{
        height: 400px;
        width: 100%;
    }

    #nosotrosTitulo{
        font-size: 20px;
        position: relative;
        bottom: 74px;
    }

    #sobreNosotros{
        font-size: medium;
    }

    .cajaContactenos{
        position: relative;
        left: 30%;
    }
}
@media (min-width: 1023px){
    .cajaContactenos{
        position: relative;
        left: 20%;
    }
}

@media (min-width: 1440px){
    #nosotrosTitulo{
        font-size: 20px;
        position: relative;
        bottom: 30px;
    }

    .cajaContactenos{
        position: relative;
        left: 100%;
    }
}
