.container{
    overflow: hidden;
}

#tarjetasimagen{
    height: 20%;
}
#enviosimagen{
    height: 20%;
}

#todoslosproductossection{
    width: 100%;
    height: 450px;
    overflow-y: scroll;
}
/*aca termina all products*/
.container .row section#producto{
    display: flex
}
#imagenmuestra{
    border: 1px solid black;
    border-radius: 5px;
}

#productostitulo{
    text-align: center;
}

section .ofertas{
    text-align: center;
}

section #cajaproducto{
    text-decoration: none;
}

section #cajaproducto h5{
    color: orange;
}

section #cajaproducto h5:hover{
    color: red;
    transition: 2s;
}

#sectionDetalleProducto{
    height: 750px;
    width: 100%;
}

@media (min-width: 768px) {
    #btnAgregarCarrito{
        font-size: 20px;
    }

    section .ofertas{
        display: inline-flex;
        position: relative;
        left: 5%;
    }
    
#tarjetasimagen{
    height: 10%;
}
#enviosimagen{
    height: 10%;
}
}