/*Registro Product*/

main{
    text-align: center;
}

.formfield *{
    vertical-align: middle;
    resize: none;
}

#camposInput input{
    font-size: small;
}

#precioProducto {
    position: relative;
    top: 9px;
}
