.container {
    overflow: hidden;
}

.todosProductos {
    width: 650px;
    height: 450px;
}

.cajaTodosProductos{
    position: relative;
    left: 20%;
}

#imgProducto{
    border: 1px solid black;
    border-radius: 15px;
    width: 25%;
    height: 150px;
    position: relative;
    left: 15px;
    bottom: 5px;
}

#aTodosProductos {
    text-decoration: none;
}

#aTodosProductos h5{
    color: orange;
}

#nombreProducto{
    color: orange;
    -webkit-text-stroke: 1px black;
}

#nombreProducto:hover{
    color: red;
    transition: color 2s;
}

#tituloTodosProductos{
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    -webkit-text-stroke: 1px black;
}

@media(min-width: 768px){
    #imgProducto{
        width: 60%;
        height: 200px;
        position: relative;
        left: 0px;
        bottom: 0px;
    }
}

@media(min-width: 992px){
    #imgProducto{
        width: 100%;
        height: 200px;
    }
}

@media(min-width: 1024px){
    #imgProducto{
        width: 65%;
        height: 200px;
    }
    #nombreProducto{
        font-size: 20px;
    }
}

@media(min-width: 1440px){
    #imgProducto{
        width: 70%;
        height: 200px;
        position: relative;
        left: 0px;
        bottom: 0px;
    }
}