<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/<%= css %> ">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4q3KdLaU_V9UfsIT6ZwmSSuuQu2eAiPI&callback=initMap"></script>
    <%- include('partials/header') %>
<body>
<div class="container-fluid">
    <main id="nosotrosCuerpo">

    <div class="row cajaTituloNosotros">
        <div class="col-12 nav justify-content-center"> 
            <h2 id="nosotrosTitulo">Sobre nosotros</h2>
        </div>
    </div>

    <div class="row">
    <div class="col-sm-12 col-md-4">
        <p id="sobreNosotrosP">
            ¡Somos un emprendimiento enfocado en la venta de componentes y perifericos para el mundo de la computación!
            Nuestras ansias por acercar a las personas a la tecnologia nos ha llevado a crear este sitio en el que creemos
            firmemente que una buena pagina debe estar bien equilibrada entre funcionamiento, simpleza y elegancia.
            ¡A su vez, manejamos los mejores productos en cuanto a calidad/precio se refiere!
            No dude en comprar lo que necesite aquí, se lo enviaremos a su casa con total seguridad.
            En el caso de que no pueda, también tenemos una sucursal, revise el mapa de la derecha:
        </p>
    </div>

        <!---Google maps-->
        <div class="col-sm-12 col-md-4" id="map"></div>
        <script src="/javascripts/googleMaps.js"></script>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>¿Alguna duda? Contactenos!</h4>
            <p></p>
        </div>
    </div>
    </main>
</div>
<%- include('partials/footer') %>
</body>
</html>